.bookmarks {
    width: 100vw;
    height: 100vh;
    background-color: rgb(89, 226, 112);
}

.bookmarks__header {
    padding: 15px;
}

.bookmarks__flatList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(89, 226, 112);
}